p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

img {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::beffore *::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}

.clients-link, .services__text, .soc-list__link, .check-text span, .check-text, .modal-close {
  align-items: center;
  justify-content: center;
}

:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color: #2196f3;
  --main-link-color: #2196f3;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  width: 1200px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.logo__icon {
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.logo:hover .logo__icon, .logo:focus .logo__icon {
  color: var(--main-link-color);
}

.btn {
  display: inline-block;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.btn.primary {
  color: #ffffff;
  background-color: #2196f3;
}
.btn.secondary {
  color: #2196f3;
  background-color: #ffffff;
}
.btn:hover, .btn:focus {
  color: var(--main-btn-color);
  background-color: #ffffff;
}

.modal {
  height: 581px;
  width: 528px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-close:hover {
  background-color: var(--main-link-color);
  fill: #ffffff;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  font-size: 16px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-input:focus {
  border-color: var(--main-link-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--main-link-color);
}
.modal-textarea-block {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-textarea:focus {
  border-color: var(--main-link-color);
}
.modal-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field {
  margin-bottom: 30px;
}
.modal-btn {
  display: block;
  margin: 0 auto;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-label span {
  margin-bottom: 4px;
  display: block;
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-check:focus + .check-text span {
  border-color: var(--main-link-color);
}
.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  gap: 7px;
}
.check-link {
  color: var(--main-link-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--main-link-color);
  border-color: transparent;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.subscribe-form {
  display: flex;
  position: relative;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  color: #ffffff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.subscribe-input:focus {
  border-color: var(--main-link-color);
}
.subscribe-wrap {
  height: 50px;
}
.subscribe-btn {
  display: inline-block;
  position: relative;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding-right: 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.subscribe-btn:hover, .subscribe-btn:focus {
  color: var(--main-btn-color);
  background-color: #ffffff;
}
.subscribe-input-icon {
  fill: #ffffff;
  position: absolute;
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.subscribe-btn:hover .subscribe-input-icon {
  fill: var(--main-btn-color);
}

input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__icon {
  fill: currentColor;
}

.soc-list__link:hover,
.soc-list__link:focus {
  background-color: var(--main-link-color);
  color: #ffffff;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
}

.header {
  padding: 25px 0;
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.heder__menu {
  display: flex;
  margin-left: 93px;
}

.menu .item:not(:last-child) {
  margin-right: 50px;
}
.menu .link {
  display: block;
  color: var(--main-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.menu .link:hover, .menu .link:focus {
  color: #2196f3;
}
.menu li .current {
  color: var(--main-link-color);
}

.header__connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connect .link:hover, .connect .link:focus {
  color: #2196f3;
}
.connect .connect__item + .connect__item {
  margin-left: 50px;
}
.connect__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.connect__symbol {
  fill: currentColor;
  margin-right: 10px;
}
.connect__symbol:hover, .connect__symbol:focus {
  color: #2196f3;
}

.item {
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.container__hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio {
  padding: 94px 0;
}
.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-title-color);
  margin-top: 4px;
}
.portfolio-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-adress {
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-adress:hover, .portfolio-adress:focus {
  color: #2196f3;
}
.portfolio-contacts {
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-contacts:hover, .portfolio-contacts:focus {
  color: #2196f3;
}
.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-text, .portfolio-link:focus .portfolio-text {
  transform: translateY(0);
}
.portfolio-block {
  position: relative;
  overflow: hidden;
}
.portfolio .img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio .flex-element:nth-child(3n) {
  margin-right: 0;
}
.portfolio .flex-element {
  width: 370px;
}
.portfolio-text {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  padding: 20px 43px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
}

.benefits__container {
  margin-bottom: 0px;
  margin-top: 0;
  padding: 94px 0;
}

.benefits__block {
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 270px;
}
.benefits__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  width: 270px;
}
.benefits .benefits__list {
  display: flex;
  gap: 30px;
}

.services__container {
  padding: 94px 0;
  padding-top: 0;
}

.services__list {
  display: flex;
  gap: 30px;
}
.services__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
}
.services__item {
  position: relative;
}

.team-container {
  padding: 94px 0;
}

.team {
  background: #f5f4fa;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-title-color);
}
.team__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-color);
  margin-top: 10px;
}
.team__blok {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.soc-list__team {
  margin-top: 16px;
}

.team__soc-link {
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.clients {
  padding: 94px 0;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--main-link-color);
  fill: var(--main-btn-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-link {
  font-style: normal;
  width: 231px;
  margin-right: 70px;
}
.footer-logo {
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-soc {
  margin-right: auto;
}

.logo:hover .footer-logo,
.logo:focus .footer-logo {
  color: var(--main-link-color);
}

.soc-link__footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.soc-link__footer:hover,
.soc-link__footer:focus {
  background-color: var(--main-link-color);
}

.soc-list__footer {
  margin-top: 22px;
}/*# sourceMappingURL=main.css.map */