.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__icon {
    color: var(--main-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
  }

  &:hover .logo__icon,
  &:focus .logo__icon {
    color: var(--main-link-color);
  }
}
