.header {
  height: 60px;
  border: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    height: 80px;
    border: 1px solid #ececec;
  }

  &__container {
    display: flex;
    padding-top: 12px;

    @media screen and (min-width: 768px) {
      padding-top: 21px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 25px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: contents;
      display: flex;
      margin-left: 86px;
      margin-right: 93px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 93px;
    }
  }

  &__connect {
    display: none;
    @media screen and (min-width: 768px) {
      display: contents;
      display: flex;
      flex-wrap: wrap;
      margin-right: 50px;
      font-size: 12px;
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

.menu {
  & .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    display: block;
    color: var(--main-title-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
  }

  & .link:hover,
  & .link:focus {
    color: #2196f3;
  }

  & li .current {
    color: var(--main-link-color);
  }

  &__item {
    position: relative;
  }
}

.connect {
  & .link:hover,
  & .link:focus {
    color: #2196f3;
  }

  & .connect__item + .connect__item {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
  }

  &__symbol {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}

.link.current::after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  @media screen and (min-width: 768px) {
    bottom: -28px;
  }

  @media screen and (min-width: 1200px) {
    bottom: -30px;
  }
}

.logo__header {
  @media screen and (min-width: 320px) {
    // margin-left: 15px;
  }
}
